spring:
  application:
    name: CampusFormServer

  # 1. 데이터베이스 설정
  datasource:
    url: ${DB_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    driver-class-name: com.mysql.cj.jdbc.Driver

  # 2. JPA (ORM) 설정
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
        show_sql: true
    defer-datasource-initialization: true

  # 3. 로깅 설정
  output:
    ansi:
      enabled: always

logging:
  level:
    org.hibernate.SQL: debug