name: CI/CD Pipeline

on:
  push:
    branches: [ "main" ]

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      - name: Build with Gradle
        run: ./gradlew build -x test

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and Push Docker Image
        run: |
          docker build -t ${{ secrets.DOCKER_USERNAME }}/campus-server:latest .
          docker push ${{ secrets.DOCKER_USERNAME }}/campus-server:latest

      - name: Deploy to EC2
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USERNAME }}
          key: ${{ secrets.KEY }}
          script: |
            # 1. 폴더가 없으면 생성하고 이동
            mkdir -p ~/campus-project
            cd ~/campus-project

            # 2. docker-compose.prod.yml 파일을 기준으로 실행
            sudo docker-compose -f docker-compose.prod.yml pull

            # 3. 컨테이너 재실행
            sudo docker-compose -f docker-compose.prod.yml up -d

            # 4. 안 쓰는 이미지 정리
            sudo docker image prune -f
